*.ini
/.idea/aws.xml
/.idea/shelf/Default_Changelist.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/autosubber_youtube.iml
/.idea/inspectionProfiles/Project_Default.xml
/debug.log
/screenshot.png
/screenshot_proof.png
/.idea/.name
/.idea/autosubscriber.iml
